body {
    background-color: pink;
    font-size: 18px;
}
h1, h3, .para, .quote {
    text-align: center;
    color: white;
}
h1:hover {
    color: black;
}
#list-box {
    display: grid;
    grid-template-columns: 400px auto;
    margin: 0 40%;
}
img {
    width: 20%;
    display: block;
    margin: 0 auto;
}
.quote {
    font-size: 45px;
    width: 400px;
    margin: 0 auto;
}
footer p {
    text-align: center;
}